.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;

  width: 100vw;

  margin: 24px 0px;

  pointer-events: none;

  & * {
    pointer-events: all;
  }

  &Section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.Input {
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 24px;

  pointer-events: all;
  overflow-y: auto;

  &Loader::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: red;
  }
  &Loader {
    background: inherit;
  }
  &Loader::-moz-range-track {
    background-color: #222222a0;
  }
  &Loader::-moz-range-progress {
    background-color: #2288eea0;
  }
  &Loader::-moz-range-thumb {
    appearance: none;
    background: none;
    border: none;
  }

  &Label {
    margin: 0;
    cursor: pointer;
    user-select: none;
  }
}
